.avatar {
    width: 200px;
    height: 200px;
    margin-right: 2rem;
}

.EmployeeDiv, .EmployeeFormDiv {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
    background-color: #DEDEDE;
}

.EmployeeFormDiv {
    width: 220px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.EmployeeFormDiv input {
    margin-bottom: 1rem;
    width: 100%;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.employeesList {
    list-style: none;
}